# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore


# macOS
.DS_Store
.gutter.json
*.gcda
*.gcno
*.xccheckout
xcuserdata/
.idea


## Build generated
#build/
DerivedData/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

